/target
.lein-repl-history
pom.xml
.lein-failures
/doc

/log/*.log

# Compiled clojurescript
/resources/public/vdd/vdd-core.js

# Other clojurescript stuff
/out
/repl
/.repl

.DS_Store
/**/.DS_Store
/**/**/.DS_Store